.person-creation {
    margin: 30px;
}

.person-creation-row {
    display: flex;
    justify-content: center;
}

.person-creation-form {
    margin: 0 !important;
}

.column {
    margin: 0 !important;
    display: flex;

}
